<span class="file-name">ng-if.component.html</span>

<div>
  <h3>Select/Change Selected Option to show/hide the content</h3>

<select name="" id="" [(ngModel)]="selectedValue">
  <option value="" selected>-- Select an option --</option>
  <option *ngFor="let state of selectionList" [ngValue]="state">{{ state }}</option>
</select>

<!-- <div *ngIf="selectedValue; else ifFalseTemplate">Show the Content</div> -->
<div *ngIf="selectedValue">Show the Content</div>
<div *ngIf="selectedValue === false">Hide the Content</div>

<!-- <pre>{{ selectedValue }}</pre> -->

<pre>Note: Only the condition is TRUE then will appear the element in DOM (it will remove from DOM if false)</pre>

</div>

<ng-template #ifFalseTemplate>
  <h2>Used this template if condition is false white using NgIfElse syntax</h2>
</ng-template>

