<span class="file-name">template-driven-form.component.html</span>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="form-group">
    <label for="username">*Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
  </div>
  <div class="form-group">
    <label for="password">*Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input type="date" id="dob" name="dob" [(ngModel)]="user.dob">
  </div>
  <button type="submit" [disabled]="f.invalid">Submit</button>
</form>

<div>Form Status: {{ f.status }}</div>
<div>Form Controls: <pre>{{ getControlsMessage(f) | json }}</pre></div>
