<span class="file-name">custom-pipes.component.html</span>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub-Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <td>{{ item.name }}</td>
      <td>{{ item.price | currency }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.quantity * item.price | currency }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <th>{{ products | sample | currency }}</th>
    </tr>
  </tbody>
</table>
